---
# Mongo Schema Setup

- name: Copy MongoDB repo file
  copy:
    src: mongodb.repo
    dest: /etc/yum.repos.d/mongodb.repo


- name: Install MongoDB client (mongodb-org-shell)
  yum:
    name: mongodb-org-shell
    state: present


- name: Load MongoDB schema
  shell: >
    mongo --host mongodb-dev.devopsb73.store
    < /app/schema/{{ component }}.js
  args:
    executable: /bin/bash