
- name: Install MySQL client
  yum:
    name: mysql
    state: present

# - name: Check if DB exists
#   shell: >
#     mysql -h mysql-dev.roboshop.blog
#     -uroot -p{{ mysql_root_password }}
#     -e "SHOW DATABASES LIKE '{{ component }}';"
#   register: db_check
#   changed_when: false

# - name: Load MySQL schema if DB not exists
#   shell: >
#     mysql -h mysql-dev.roboshop.blog
#     -uroot -p{{ mysql_root_password }}
#     < /app/schema/{{ component }}.sql
#   args:
#     executable: /bin/bash
#   when: "'{{ component }}' not in db_check.stdout"


- name: Load Schema
  ansible.builtin.shell: mysql --host mysql-dev.roboshop.blog -uroot -pRoboShop@1 </app/schema/{{ component }}.sql
  # ansible.builtin.shell: mongo --ssl --host {{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.{{component}}.docdb_endpoint', region='us-east-1') }}:27017 --sslCAFile /app/rds-combined-ca-bundle.pem --username {{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.docdb.username', region='us-east-1') }} --password {{ lookup('amazon.aws.aws_ssm', 'roboshop.{{env}}.docdb.password', region='us-east-1') }} </app/schema/{{ component }}.js


